<header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product">
            <p>E.O.S Adinkrah Enterprise</p>
        </a>
        <a class="py-2 d-none d-md-inline-block" [routerLink]="['/']">Home</a>
        <a class="py-2 d-none d-md-inline-block" [routerLink]="['/shop']">Shop</a>
        <a class="py-2 d-none d-md-inline-block" [routerLink]="['/register']">Sign Up</a>
        <a class="py-2 d-none d-md-inline-block" [routerLink]="['/login']">Login</a>
    </nav>
</header>

<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="px-3 py-3 pt-md-5 pb-md-5 pb-md-4 mx-auto text-dark text-center">
            <h1 class="display-4">Welcome to E.O.S Adinkrah Enterprise</h1>
            <p class="lead fw-normal">Your One Stop Shop for all things Kente</p>
            <a class="btn btn-outline-secondary" routerLink="/shop">Shop Now!</a>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Kente for Men</h2>
                <p class="lead">For the Classy and Elegant</p>
            </div>
            <div class="bg-light shadow-sm mx-auto" style="width: 75%; height: 300px; border-radius: 21px 21px 0 0;">
                <img src="../../../assets/WhatsApp Image 2021-05-15 at 3.28.29 PM.jpeg"
                    style="width: auto; height: 300px;" class="rounded mx-auto d-block" alt="">
            </div>
        </div>
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Kente for Women</h2>
                <p class="lead">Royalty and Majestic.</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 75%; height: 300px; border-radius: 21px 21px 0 0;">
                <img src="../../../assets/WhatsApp Image 2021-05-15 at 3.28.43 PM.jpeg"
                    style="width: auto; height: 300px;" class="rounded mx-auto d-block" alt="">
            </div>
        </div>
    </div>

    <div class="landing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h6 class="display-6">Beautiful Graduation Stoles</h6>
        <p class="lead">Graduate with Style</p>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Purely Ghanaian</h2>
                <p class="lead">Kente from Bonwire</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 75%; height: 300px; border-radius: 21px 21px 0 0;">
                <img src="../../../assets/WhatsApp Image 2021-05-15 at 3.28.57 PM.jpeg"
                    style="width: auto; height: 300px;" class="rounded mx-auto d-block" alt="">
            </div>
        </div>
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Truly African</h2>
                <p class="lead">Full Customized</p>
            </div>
            <div class="bg-light shadow-sm mx-auto" style="width: 75%; height: 300px; border-radius: 21px 21px 0 0;">
                <img src="../../../assets/WhatsApp Image 2021-05-15 at 3.28.15 PM.jpeg"
                    style="width: auto; height: 300px;" class="rounded mx-auto d-block" alt="">
            </div>
        </div>
    </div>
</main>

<footer class="container py-5">
    <div class="row">
        <small>
            &copy; 2021 E.O.S Enterprise
        </small>
    </div>
</footer>