<p (click)="goBack()">Go Back</p>

<h6 class="display-6 text-center mb-4">All Orders</h6>

<div class="table-responsive">
    <table class="table text-center">
        <thead>
            <tr>
                <th style="width: 4%;"></th>
                <th style="width: 12%;">Item</th>
                <th style="width: 22%;">Cost (GHC)</th>
                <th style="width: 22%;">Date</th>
            </tr>
        </thead>
        <tbody *ngIf="userOrders.length > 0">
            <tr *ngFor="let u of userOrders | paginate: {itemsPerPage:5, currentPage: pageNum}">
                <th scope="row" class="text-start">{{u.orderID}}</th>
                <td><svg class="bi" width="14" height="24">
                        <use xlink:href="#check" />
                    </svg>
                {{u.products}}
                </td>
                <td><svg class="bi" width="24" height="24">
                        <use xlink:href="#check" />
                    </svg>
                {{u.total}}
                </td>
                <td><svg class="bi" width="24" height="24">
                        <use xlink:href="#check" />
                    </svg>
                    {{u.date}}
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageNum=$event"></pagination-controls>
</div>